/*    NAV BAR               */

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #1b1b32;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.brand {
    display: flex;
    align-items: center;
}
li>a {
    padding: 8px 24px;
}
li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration:none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.button-menu-toggle {
    display: none;
}

/*         FIN DE NAV VAR          */
/*Galeria inicio*/
.galeria{
    display: flex;
    justify-content: space-around;
}
.galeria img{
    width: 200px;
    height: 200px;
    margin: 20px;
}




/*Galeria fin */

/*Estilos Generales*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Miltonian', cursive;

}

.seccion-oscura{
    color: white;
    background-color: #1b1b32;
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Miltonian', cursive;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-texto{
    font-size: 1rem;
}

.btn-info{
    font-size: 1.1rem;
    margin: 20px;
}

/*Seccion hero*/
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}
.hero-principal{
    padding: 3rem;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}
.hero-imagen-perfil{
    width: 200px;
    height: 200px;
    margin: 20px;
}

/*Sobre mi*/
.sobre-mi{
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/*Experiencia*/
.experiencias{
    padding: 40px;
}

.experiencias .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencias .columna:hover{
    color: white;
    background-color: #1b1b32;
}

.experiencias i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experincia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
    margin: 2px;
}

/*Proyectos*/
.proyectos-recientes{
    padding: 40px;
}
.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto{
    position: relative;

}
.proyecto:hover img{
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;

}

.overlay .iconos-contenedor{
    display: flex;
}

.overlay i{
    color: black;
    font-size: 60px;
    margin: 10px;
}

.texto-negro{
    color: black;
}
.texto-blanco{
    color: white;
}





/*              MEDIA QUERYS                   */
@media screen and (max-width: 400px){
    .overlay p{
        font-size: 18px;
    }
    .overlay i{
        font-size: 40px;
    }
}

@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }
    .nav-links {
        display: none;
    }
    .button-menu-toggle {
        display: block;
        background-color: white;
        border:none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }
    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20,20,20,0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap:70px;
        font-size: 40px;
    }
}